.dd-b-modalimage {
    height: 100%;
    width: 100%;
    }              
    .dd-b-modalimage .dd-c-img {
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        }
        .dd-b-modalimage .dd-c-img.state_move {
            cursor: move;
            }
        .dd-b-modalimage .dd-c-img img {
            display: block;
            position: absolute;
            }
    .dd-b-modalimage .dd-c-img,
    .dd-b-modalimage .dd-c-img img {     
        -webkit-transition: 0.1s linear all; /* Safari/Chrome */
        -moz-transition: 0.1s linear all; /* Firefox */
        -ms-transition: 0.1s linear all; /* IE10 */
        -o-transition: 0.1s linear all; /* Opera */
        transition: 0.1s linear all; /* Future Browsers */            
        }
