html.noscroll,
html.noscroll body {
    overflow: hidden;
    }
.dd-b-popup {
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    }
    .dd-b-popup-h {
        display: table;
        margin: 0 auto;
        height: 100%;
        }
        .dd-b-popup-hh {
            display: table-cell;
            padding: 20px;
            vertical-align: middle;           
            }
    .dd-b-popup .modal-header.mod_notitle {
        border-bottom: none;
        display: none;
        }                                  
    .dd-b-popup .modal {
        position: static;
        margin: 0;
        width: auto;
        display: block;
        overflow: visible;
        overflow-y: visible;
        -webkit-transition: 0.2s linear all; /* Safari/Chrome */
        -moz-transition: 0.2s linear all; /* Firefox */
        -ms-transition: 0.2s linear all; /* IE10 */
        -o-transition: 0.2s linear all; /* Opera */
        transition: 0.2s linear all; /* Future Browsers */
        
        visibility: hidden;
        opacity: 0;
        }    
    .dd-b-popup .modal-body {
        position: relative;
        max-height: none;
        overflow: visible;
        }
    .dd-b-popup .dd-b-popup-content {
        }
/*STATE ACTIVE*/
    .dd-b-popup.state_active .modal {
        opacity: 1;
        visibility: visible;
        }
/*MOD IMAGE*/        
.dd-b-popup.mod_image.has_title .modal {
    position: relative;
    top: -15px;
    left: auto;
    }
.dd-b-popup.mod_image .modal {
    background: transparent;
    }
.dd-b-popup.mod_image .modal-body {
    padding: 0;
    }
